@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(240, 246, 246);
    color: blueviolet;
    font-size: 20px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    /* font: normal 20px "Roboto", sans-serif;*/
}
.ava{
    width: 100px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 100);
}
.if-tx{
    margin-left: 40px;

}
.if-tx h1{
    margin-bottom: 10px;
}
.infa{
    display: flex;
    margin-bottom: 20px;
}
.infa p{
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    word-spacing: 16px;
}
.conteiner{
    max-width: 900px;
    margin:  auto;
    padding: 30px;
}
/* .socil{
    background: rgb(16, 239, 27);
    padding: 15px 40px;
    border: 7px solid red;
    border-bottom-style: dotted;
    border-top-width:10px ;
    border-right-color:blue ;
    margin: 5x
} */
/* .box > div{
    float: left;
    background: #000;
    height: 200px;
    border:  4px solid red;
    width: 25%;
    box-sizing: border-box;
} */
.br-ye{
    background: yellow;
}
.br-gr{
    background: rgb(16, 216, 36);
}


 .card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
 }
 .ls{
    padding: 0 20px ;
 }
 .btn{
    background: #111;
    padding: 15px 20px;
    color: antiquewhite;
    border: none;
    font-family: inherit;
    cursor: pointer;
 }
 .btn :hover{
    opacity: 0.9;
 }
 .pos{
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
 }
 .box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background: lightcoral;
 }